.content {
  width: 1152px;
  margin: 0 auto;
  height: calc(100vh - 36px - 50px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(230px, max-content);

  .list {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .form {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .statistics {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
